body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 15%;
    font-size: 24pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    padding-right: 1em;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000000;
}



