/******************************************************************************
 * Base
 ******************************************************************************/

:root {
    --color-green: #34A5DA;
    --color-white: rgb(255, 255, 255);
    --color-grey: #888;
    --color-light-grey: #aaa;
    --max-font: 1em;
    --min-font: 1em;
    --max-line-height: 1em;
}

html {
    font-size: calc(1em + (1.3125 - 1) * ((100vw - 20em) / (80 - 20)));
    line-height: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));
    font-family: sans-serif;
}

body {
    background: var(--color-white);
    color: var(--color-grey);
    padding: 0 2rem;
    margin: 0 auto;
    width: calc(80vw);
    min-width: 21em;
    max-width: 35em;
}

h1, h2 {
    color: var(--color-green);
}

h2 {
    border-bottom: 4px solid var(--color-green);
}

a:link, a:visited {
    color: var(--color-grey);
    text-decoration: underline;
}

a:hover, a:active {
    color: var(--color-green);
}


/******************************************************************************
 * Header
 ******************************************************************************/

.header {
    color: var(--color-green);
    padding: 2rem 0;
    text-align: center;
}

.header-title {
    font-weight: 900;
    font-size: 50px;
    margin: 0 0 1rem 0;
    margin-top:20px;
}

.header-social-item {
    font-style: normal;
    color: var(--color-green) !important;
    padding: 0 1rem;
    text-decoration: none !important;
    display: inline-block;
    font-size: 30px;
}

.header-social-item span {
}

.icon {
    width: 1.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    fill: var(--color-green);
    stroke: var(--color-green);
}

/******************************************************************************
 * Skills
 ******************************************************************************/

.skills {
    margin: 0;
    padding: 0;
}

    .skills li {
        display: inline-block;
        margin-bottom: 1rem;
        margin-right: 2rem;
    }

        .skills li ul {
            margin: 0;
            padding: 0;
        }

            .skills li ul li {
                background: var(--color-green);
                color: var(--color-white);
                margin: 0.5rem 0;
                padding: 0.1rem 0.5rem;
                display: inline-block;
            }

/******************************************************************************
 * Timeline
 ******************************************************************************/

.timeline {
    margin: 1rem 0;
}
.timeline-item {
    display: flex;
    margin-bottom: 1rem;
}

.timeline-title {
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
}

.timeline dt {
    flex: none;
    width: 12rem;
}

.timeline dd {
    flex: 1;
    margin: 0;
}

.timeline dd p {
    margin: 0;
}

