@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bitter');

/*---------------------------------------------------------------------------------

	Author: Rogério Moreira
	Author URI: http://www.rgllm.com

----------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	0.	CSS Reset
/* -------------------------------------------------------------------------------- */


html, body { margin: 0; padding: 0; height: 100%; overflow: hidden }

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
	border: 0;
    font-family: inherit;
    font-size: 100%;
	font-style: normal;
    font-weight: normal;
	line-height: 1;
    margin: 0;
    padding: 0;
	text-align: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul { list-style: none; }

blockquote:before, blockquote:after { content: ""; }

a { outline: none; }

input[type=search] {
      -moz-appearance: none;
   -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/* -------------------------------------------------------------------------------- */
/*	1.	Document Setup
/* -------------------------------------------------------------------------------- */


html { 
    font-size: 62.5%; /* 1rem = 10px */ 
	-webkit-text-size-adjust: 100%;
}

body {
    background: #fff;
	border: none;
	color: #000;
	font-family: 'aktiv-grotesk', 'Helvetica Neue', Helvetica, sans-serif;
        -moz-font-feature-settings:     'liga=1'; 
        -moz-font-feature-settings:     'liga';
        -ms-font-feature-settings:      'liga'; 
        -o-font-feature-settings:       'liga'; 
        -webkit-font-feature-settings:  'liga'; 
    font-feature-settings:              'liga';
	font-size: 2rem;
    margin: 0;
    padding: 0;
	-webkit-text-size-adjust: 100%;
	width: 100%;
}

body.lock-scroll {
	position: fixed;
}

body a {
    color: #000;
	text-decoration: none;
}

*,
*:before,
*:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	height: auto;
    max-width: 100%;
	width: 100%;
}

.clear:after { 
    clear: both;
    content: "";
    display: block;
}

::selection {
	background: #3C48D5;
	color: #fff;
}

::-webkit-input-placeholder { color: #99999e; }
:-ms-input-placeholder { color: #99999e; }


/* Transitions -------------------------------- */

a,
.pagination h4,
.posts .post h2 span,
.featured-post h2,
.archive-theme .title span {
	transition: all 0.1s ease-in-out;
}

.mobile-menu a {
	transition: all 0.2s ease-in-out;
}


/* -------------------------------------------------------------------------------- */
/*	2.	Structure
/* -------------------------------------------------------------------------------- */


.site-content {
	width: 100%;
}

section {
	padding: 12rem 0 12rem 0;
	position: relative;
	width: 100%;
}

.site-content > section:first-of-type:not(.header-compensated) {
	padding-top: 9.2rem;
}

.section-inner {
	margin: 0 auto;
	max-width: 124rem;
	width: 90%;
}

.section-inner.wide { 
	max-width: 168rem;
}

.section-inner.thin {
	max-width: 61rem;
}

.section-inner + .section-inner {
	margin-top: 12rem;
}


/* Helper Classes --------------------------------------- */

/* LAYOUT */

.screen-height {
	min-height: 100vh;
}

.screen-height.header-compensated {
	margin-top: -18rem;
	padding: 18rem 0 18rem 0;
	position: relative;
}

.center-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bg-grey {
	background: rgba( 241, 242, 244, 1 );
}

.bg-wave-cut {
	position: relative;
}

.bg-wave-cut:before {
	background: url( ./assets/images/wave-white-flat-top.svg ) repeat-x;
	background-size: auto 2rem;
	content: "";
	display: block;
	height: 2rem;
	position: absolute;
		left: 0;
		right: 0;
		top: 0;
}


/* TYPOGRAPHY */

.big-title,
.medium-title,
.small-title {
	font-family: 'Bitter', serif;
	font-weight: 550;
	letter-spacing: -0.015em;
}

.big-title {
	font-size: 6.6rem;
	line-height: 1.225;
}

.big-title a {
	color: #3C48D5;
	display: inline-block;
	text-decoration: underline;
	transition: all .2s ease-in-out;
}

.big-title a:hover {
	opacity: 0.5;
}

.medium-title {
	font-size: 5.6rem;
}

.small-title {
	font-size: 3rem;
	letter-spacing: -0.01em;
}

.big-title.sans,
.medium-title.sans,
.small-title.sans {
	font-family: 'aktiv-grotesk', 'Helvetica Neue', Helvetica, sans-serif;
}


/* BUTTONS */

.faux-button {
	border: .2rem solid #3C48D5;
	background: transparent;
	border-radius: .5rem;
	color: #3C48D5;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	min-width: 16rem;
	overflow: hidden;
	padding: 1.3rem 3rem 1.5rem 3rem;
	position: relative;
	text-align: center;
	transition: color .15s ease-in-out;
}

.faux-button span {
	position: relative;
}

.faux-button:before {
	background: #3C48D5;
	content: "";
	display: block;
	height: calc( 100% + 5rem );
	position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	transform: skewX(-45deg) translateX(-150%);
	transition: transform .3s ease-in-out;
	width: calc( 100% + 5rem );
}

.faux-button:hover {
	color: #fff;
}

.faux-button:hover:before {
	transform: skewX(-45deg) translateX(-5rem);
}

.faux-button + .faux-button {
	margin-left: 3rem;
}


/* ANIMATIONS */

.fade-block {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* MODAL */

.modal {
	align-items: center;
	background: rgba( 255, 255, 255, 0.8 );
	display: flex;
	justify-content: center;
	opacity: 0;
	position: fixed;
		bottom: 0;
		left: -9999rem;
		right: 9999rem;
		top: 0;
	transform: translateY(1rem);
	transition: transform .3s ease-in-out, opacity .3s ease-in-out, left 0s .3s, right 0s .3s;
	z-index: 1000;
}

.modal.active {
	left: 0;
	opacity: 1;
	right: 0;
	transform: translateY(0);
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.modal-inner {
	background: #fff;
	box-shadow: 0 .2rem 5rem rgba( 0, 0, 0, 0.15 );
	border-radius: 2.4rem;
	max-width: 80rem;
	padding: 6rem 8rem;
	text-align: center;
	width: 90%;
}

.modal img {
	margin: 0 auto 4rem;
	max-width: 75%;
	width: auto;
}

.modal h3 {
	font-size: 3.2rem;
	text-align: center;
}

.modal p {
	line-height: 1.5;
	margin: 2.5rem auto 0;
	max-width: 58rem;
	text-align: center;
	width: 100%;
}

.modal a {
	color: #3C48D5;
	text-decoration: underline;
}

.modal a:hover {
	opacity: 0.5;
}

.modal .faux-button {
	margin-top: 2.5rem;
}


/* -------------------------------------------------------------------------------- */
/*	3.	Site Header
/* -------------------------------------------------------------------------------- */

.site-header,
.header-left,
.header-right {
	align-items: center;
    display: flex;
	justify-content: space-between;
}

.site-header {
	padding: 7.4rem 0 7.4rem 0;
	position: relative;
	z-index: 1;
}

.site-title {
	font-weight: 500;
}


/* MAIN MENU */

.main-menu {
	display: flex;
    position: relative;
}

.main-menu li {
	margin-left: 6rem;
	white-space: nowrap;
}

.menu a { 
	border-bottom: .1rem solid transparent; 
	display: block;
}

.menu li.current-menu-item a,
.menu a:hover { 
	border-bottom-color: #000; 
}


/* SOCIAL */

.social {
	display: flex;
}

.social a {
	background: transparent no-repeat center;
	display: block;
	height: 3.2rem;
	position: relative;
	width: 3.2rem;
}

.social span {
	background: #000;
	border-radius: .2rem;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 700;
	padding: .4rem .8rem .5rem .8rem;
	opacity: 0;
	position: absolute;
		left: -9999rem;
		top: calc( 100% + .3rem );
	transform: translateX( -50% ) translateY( .3rem );
	transition: opacity .2s ease-in-out, transform .2s ease-in-out, left 0s .2s;
}

.social a:hover span {
	left: 50%;
	opacity: 1;
	transform: translateX( -50% ) translateY( 0 );
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.social span:before,
.social span:after {
	content: "";
	display: block;
	position: absolute;
		bottom: 100%;
}

.social span:before {
	left: 0;
	height: 1rem;
	width: 100%;
}

.social span:after {
	border: .3rem solid transparent;
	border-bottom-color: #000;
	left: calc( 50% - .3rem );
}

.social a + a {
	margin-left: 3rem;
}

.social .instagram { background-image: url( ./assets/images/icons/instagram.svg ); background-size: 2.4rem; }
.social .twitter { background-image: url( ./assets/images/icons/twitter.svg ); background-size: auto 2.4rem; }
.social .email { background-image: url( ./assets/images/icons/email.svg ); background-size: 2.7rem auto; }
.social .github { background-image: url( ./assets/images/icons/github.svg ); background-size: 2.4rem; }



/* MOBILE NAV */

.nav-toggle,
.mobile-menu-container {
    display: none;
}

/* -------------------------------------------------------------------------------- */
/*	5.	Front Page
/* -------------------------------------------------------------------------------- */


.home:before,
.home:after {
	content: "";
	display: block;
	height: 100vh;
	position: absolute;
		left: 0;
		right: 0;
		top: 0;
}

.home:before {
	background: url( ./assets/images/front-page-bg.svg ) center;
	background-size: cover;
	z-index: -2;
}

.home:after {
	background-image: linear-gradient( -180deg, rgba( 255, 255, 255, 0 ) 50%, #FFFFFF 100% );
	z-index: -1;
}

.home .site-content {
	overflow: hidden;
}

.intro-title .section-inner {
	max-width: 103rem;
}

.graphics-title {
	line-height: 1.275;
}

.graphics-title .rgllm,
.graphics-title .braga,
.graphics-title .company {
	font-family: 'aktiv-grotesk', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: -0.035em;
	line-height: inherit;
}

.graphics-title .rgllm {
	color: #3C48D5;
	position: relative;
	padding-right: 8rem;
}

.graphics-title .rgllm:after {
	background: url( ./assets/images/rgllm.jpg ) no-repeat center;
	background-size: cover;
	border-radius: 50%;
	content: "";
	height: 7rem;
	position: absolute;
		bottom: calc( 50% - 3.7rem );
		right: 0;
	transition: transform .2s ease-in-out;
	width: 7rem;
}

.graphics-title .braga {
	color: #006AA7;
	padding-right: 8.6rem;
	position: relative;
}

.graphics-title .braga:after {
	background: url( ./assets/images/portugal.svg ) no-repeat center;
	background-size: contain;
	content: "";
	height: 5.6rem;
	position: absolute;
		top: calc( 60% - 2.6rem );
		right: .1rem;
	width: 7.9rem;
}

.graphics-title .company {
	color: #C074AE;
	background-image: -webkit-linear-gradient(-135deg, #C074AE 0%, #EF904D 100%);
	position: relative;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}

.graphics-title .company:after {
	background: url( ./assets/images/wave-border.svg ) repeat bottom left;
	background-size: auto 100%;
	content: "";
	position: absolute;
		bottom: -.5rem;
		left: 0;
		right: 0;
		height: 1rem;
}

.about-me-content-wrapper {
	max-width: 103rem;
}


/* WORK PROMO */

section.work-promo {
	padding: 16rem 0 14.7rem 0;
	text-align: center;
}


.work-promo.will-spot:after {
	opacity: 0;
	transform: scale(0) rotate(0);
	transition: opacity .75s ease-in-out .5s, transform .75s ease-in-out .5s;
}

.work-promo.spotted:after {
	opacity: 1;
	transform: scale(1) rotate(12.5deg);
}

.work-promo .section-inner {
	max-width: 111rem;
}

.work-promo .promo-title,
.work-promo p {
	text-align: inherit;
}

.work-promo header {
	max-width: 100%;
	width: 59rem;
}

.work-promo.will-spot header {
	opacity: 0;
	transform: translateY(2rem);
	transition: opacity .75s ease-in-out 1.25s, transform .75s ease-in-out 1.25s;
}

.work-promo.spotted header {
	opacity: 1;
	transform: translateY(0);
}

.work-promo .promo-title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.25;
	margin: 0 auto 2.5rem;
	max-width: 52.7rem;
	width: 100%;
}

.work-promo p {
	font-size: 2.4rem;
	letter-spacing: -0.025rem;
	line-height: 1.375;
	margin-bottom: 2.5rem;
}


/* -------------------------------------------------------------------------------- */
/*	12.	Media Queries
/* -------------------------------------------------------------------------------- */


@media ( min-width: 1350px ) {
	
	
	/*	X.	Page Content
    /* ------------------------------------- */
	
	.page-content blockquote.pull {
		right: 4rem;
	}
	
	.page-content blockquote.pull.left {
		right: auto;
		left: 4rem;
	}
	
	
}


@media ( min-width: 1550px ) {


	/*	X.	Themes Archive
    /* ------------------------------------- */
	
	.themes-wrapper .archive-theme {
		flex: 1 1 20%;
		max-width: calc( 25% - 2rem );
	}
	
	.donate-block-wrapper {
		display: flex;
		flex: 1 1 50%;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 1rem;
		max-width: 50%;
		padding: 0;
	}
	
	.themes-wrapper .donate-block-wrapper .archive-theme {
		flex: 1 1 45%;
		margin: 0 1rem;
		max-width: calc( 50% - 2rem );
	}
	
	.donate-block {
		display: none;
	}
	
	
	/*	X.	Page Content
    /* ------------------------------------- */
	
	.page-content blockquote.pull {
		left: calc( 50vw + 43rem );
		right: auto;
	}
	
	.page-content blockquote.pull.left {
		left: auto;
		right: calc( 50vw + 43rem );
	}

}


@media ( max-width: 1240px ) {


	/*	X.	Page Content
    /* ------------------------------------- */
	
	.page-content blockquote.pull {
		float: right;
		margin: 0 -6rem 2.5rem 2rem;
		position: relative;
			right: auto;
	}
	
	.page-content blockquote.pull.left {
		left: auto;
	}


}


@media ( max-width: 1160px ) {


	/*	X.	Front Page
    /* ------------------------------------- */
	
	/* WORK PROMO */
	
	section.work-promo {
		padding: 13rem 0 10rem;
	}
	
	.work-promo:after {
		bottom: auto;
		height: 45rem;
		right: -8rem;
		top: -1rem;
		width: 45rem;
	}
	
	
	/*	X.	Themes Single
    /* ------------------------------------- */
	
	.single .theme-image {
		height: calc( 100vh - 18rem );
		top: 18rem;
	}
	
	
	/*	X.	Blog Single
    /* ------------------------------------- */
	
	/* PAGINATION */
	
	.pagination {
		align-items: flex-start;
		padding-top: 0;
	}
	
	.pagination:before {
		content: none;
	}
	
	.pagination a {
		max-width: 46.5%;
	}
	
	.pagination h4 {
		font-size: 4.2rem;
	}


	/*	X.	Page Content
    /* ------------------------------------- */

	.double-list-wrapper div {
		width: calc( 50% - 2rem );
	}


}


@media ( max-width: 1100px ) {


	/*	X.	Structure
    /* ------------------------------------- */

	.big-title {
		font-size: 5.6rem;
	}
	
	.medium-title {
		font-size: 5rem;
	}
	
	.small-title {
		font-size: 2.8rem;
	}
	
	
	/*	X.	Front Page
    /* ------------------------------------- */
	
	.intro-title .section-inner {
		max-width: 86rem;
	}
	
	.graphics-title .rgllm {
		padding-right: 7rem;
	}
	
	.graphics-title .rgllm:after {
		bottom: calc( 50% - 3.2rem );
		height: 6rem;
		width: 6rem;
	}
	
	.graphics-title .braga {
		padding-right: 6.7rem;
	}
	
	.graphics-title .braga:after {
		height: 4.05rem;
		top: calc( 50% - 1.8rem );
		width: 6.15rem;
	}
	
	.graphics-title .company:after {
		height: .8rem;
	}
	
	
	/*	X.	Themes Archive
    /* ------------------------------------- */
	
	.questionmark:after {
		right: -2.5rem;
		top: -.6rem;
	}
	
	
	/*	X.	Themes Single
    /* ------------------------------------- */
	
	.related-themes header {
		flex: 0 0 24rem;
		margin-left: 5%;
	}
	
	
	/*	X.	Single Post
    /* ------------------------------------- */
	
	.post-image {
		background-attachment: scroll;
		max-height: 100vh;
		min-height: 75vh;
	}
	
	
	/*	X.	Page Content
    /* ------------------------------------- */
	
	.page-content .alignnone {
		left: calc( 50% - 50vw );
		margin: 5rem 0;
		max-width: 100vw;
		width: 100vw;
	}
	
	.page-content .alignnone .wp-caption-text {
		left: 2rem;
		max-width: none;
		width: 32rem;
	}


	/*	X.	Error 404
    /* ------------------------------------- */
	
	.error404 .site-content p {
		font-size: 5.6rem;
	}
	

    /*	X.	Site Footer
    /* ------------------------------------- */
    
    .site-footer {
        padding: 8rem 0;
    }

}


@media ( max-width: 1000px ) { 


	/*	X.	Front Page
    /* ------------------------------------- */
	
	/* WORK PROMO */
	
	section.work-promo {
		padding: 10rem 0 8rem;
	}
	
	.work-promo:after {
		box-shadow: 0 0 2rem rgba( 0, 0, 0, 0.1 );
		height: 12rem;
		right: calc( 50% - 6rem );
		top: -4.5rem;
		width: 12rem;
	}
	
	.work-promo:after {
		transform: rotate(5deg);
	}
	
	.work-promo.spotted:after {
		transform: scale(1) rotate(5deg);
	}
	
	.work-promo header {
		margin: 0 auto;
	}


	/*	X.	Themes Archive
    /* ------------------------------------- */
    
    .archive-theme {
        flex: 1 1 45%;
        max-width: calc( 50% - 2rem );
    }
	
	.archive-theme .theme-header {
		padding: 2.5rem;
	}
	
	.archive-theme .theme-header .arrow-link {
		bottom: 2.5rem;
		right: 2.5rem;
	}
	
	.donate-block-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}
	
	.donate-block {
		min-height: 50vh;
		padding-bottom: 14rem;
		position: relative;
		width: 100%;
	}
	
	
	/*	X.	Themes Single
    /* ------------------------------------- */
	
	.related-themes .archive-theme:nth-child(3) {
        display: none;
    }


}


@media ( max-width: 900px ) {
	
	
	/*	X.	Page Content
    /* ------------------------------------- */
	
	.page-content .alignright,
	.page-content .alignleft {
		width: calc( 50% - 2rem );
	}

	.page-content .alignright { margin-right: 0; }
	.page-content .alignleft { margin-left: 0; }
	
	
}


@media ( max-width: 865px ) {


	/*	X.	Themes Archive
    /* ------------------------------------- */

	.post-type-archive-teman .page-header {
		margin-bottom: 6rem;
	}

	.theme-meta {
		flex-direction: column;
		max-width: 100%;
		width: 28rem;
	}
	
	.theme-meta .meta-item + .meta-item {
		margin: 2.5rem 0 0 0;
	}


}

@media ( max-width: 800px ) and ( min-width: 700px ) {
	
	
    /*	X.	Themes Single
    /* ------------------------------------- */
	
	.single-teman .theme-meta {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	
	.single-teman .meta-item {
		flex: 1 1 20%;
	}
	
	.single-teman .theme-meta .meta-item + .meta-item {
		margin: 0 0 0 2rem;
	}
	
	.single-teman .theme-meta .meta-item + .meta-item.edit {
		flex: 100%;
		margin: 3rem 0 0 0;
	}
	
	
}


@media ( max-width: 800px ) {
    
    
    /*	X.	Structure
    /* ------------------------------------- */

    .site-wrapper {
        max-width: 82.5%;
        padding: 8rem 0;
    }
    
    .site-wrapper:before {
        display: none;
    }
	
	.site-content > section:first-of-type:not(.header-compensated) {
		padding-top: 6rem;
	}
	
	/* HELPER CLASSES */
	
	.text-bg-title .outer {
		position: static;
	}
    

    /*	X.	Site Header
    /* ------------------------------------- */

    .main-menu,
	.header-right .social { 
		display: none; 
	}
	
	.header-left {
		opacity: 1;
		transition: opacity .4s ease-in-out 1.1s;
	}
   
    
    /* Nav Toggle */

    .nav-toggle {
		cursor: pointer;
        display: block;
        height: 4rem;
        margin-top: -2.2rem;
        position: absolute; 
            left: calc( 100% - 4rem );
            top: 50%;
		transition: left .5s ease-in-out .5s;
        width: 4rem;
        z-index: 10001;
    }

    .nav-toggle .bar {
        background: #000;
        height: .2rem;
        margin-left: -1.3rem;
        position: absolute;
            left: 50%;
            top: 50%;
        transition: transform .2s linear .3s, background .5s ease-in-out 1.1s;
        width: 3.4rem;
    }

    .nav-toggle .bar:nth-child(1) { transform: translateY(-.4rem); }
    .nav-toggle .bar:nth-child(2) { transform: translateY(.4rem); }
	
	.nav-toggle .bar:nth-child(1):before,
	.nav-toggle .bar:nth-child(1):after {
		background: #000;
		content: "";
		height: .2rem;
		opacity: 0;
		position: absolute;
			right: 0;
			top: 0;
		transition: transform .3s ease-in-out 0s,  background .5s ease-in-out 1.1s, opacity 0s .3s;
		transform-origin: 100% 50%;
		width: 1.7rem;
	}
	
	.nav-toggle .bar:nth-child(1):before { top: .05rem; }
	.nav-toggle .bar:nth-child(1):after { bottom: .4rem; }
	
	.nav-toggle .label {
		color: rgba( 255, 255, 255, 1 );
		font-size: 1.4rem;
		font-weight: 700;
		opacity: 0;
		position: absolute;
			left: calc( -50% +  .5rem );
			top: calc( 100% + 5rem );
		text-align: right;
		text-transform: uppercase;
		transition: all .2s ease-in-out .2s;
		transform: rotate(-90deg);
		white-space: nowrap;
	}
	
	.nav-toggle.active .label {
		opacity: 1;
		transform: rotate(-90deg) translateX( -1rem );
		transition: all .3s ease-in-out 1.1s;
	}
	
	/* Active */
	
	body.mobile-menu-visible .header-left {
		transition: opacity .4s ease-in-out;
		opacity: 0;
	}
	
	.nav-toggle.active {
		left: 0;
	}
	
	.nav-toggle.active .bar,
	.nav-toggle.active .bar:nth-child(1):before,
	.nav-toggle.active .bar:nth-child(1):after {
		background: #fff;
        transition: transform .2s linear;
    }

    .nav-toggle.active .bar:nth-child(1),
    .nav-toggle.active .bar:nth-child(2) { 
        transform: translateY(0);
    }
	
	.nav-toggle.active .bar:nth-child(1):before,
	.nav-toggle.active .bar:nth-child(1):after {
		transition: background .2s ease-in-out .1s, transform .3s ease-in-out .2s, opacity 0s .2s;
		opacity: 1;
	}
	
	.nav-toggle.active .bar:nth-child(1):before { transform: rotate(45deg); }
	.nav-toggle.active .bar:nth-child(1):after { transform: rotate(-45deg); }


    /* Mobile menu */

    body.mobile-menu-visible {
        height: 100%;
        overflow: hidden;
        position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
    }

    .mobile-menu-container {
        background: #fff;
		box-shadow: -.2rem 0 2rem rgba( 0, 0, 0, 0.25 );
        display: flex;
		flex-direction: column;
        padding: 7.4rem 8.75% 0;
        position: fixed;
            bottom: 0;
            left: -9999rem;
			right: 9999rem;
            top: 0;
		transform: translateX( 100% );
		transition: transform .5s ease-in-out .5s, left 0s 1s, right 0s 1s;
        z-index: 10000;
    }
	
	.mobile-menu-container a:hover {
		text-decoration: underline;
	}
	
	.mobile-menu-overlay {
		background: rgba( 0, 0, 0, 0.6 );
		content: "";
		cursor: pointer;
		display: block;
		opacity: 0;
		position: fixed;
			bottom: 0;
			left: -9999rem;
			right: 9999rem;
			top: 0;
		transition: opacity .5s ease-in-out 1s, left 0s 1.5s, right 0s 1.5s;
		z-index: 9999;
	}
	
	.mobile-menu-visible .mobile-menu-overlay {
		left: 0;
		opacity: 1;
		right: 0;
		transition: opacity .5s ease-in-out;
	}
	
	.mobile-menu-container.active {
		left: calc( 10% + 5rem );
		overflow: scroll;
		right: 0;
		transform: translateX( 0 );
		transition: transform .5s ease-in-out .5s;
	}
	
	.menu-title {
		font-weight: 500;
		margin-bottom: 10rem;
	}
    
    .mobile-menu-container ul a {
        border-bottom: .1rem solid transparent;
        display: inline-block;
        line-height: 1;
    }

    .mobile-menu {
		flex-grow: 1;
		margin-bottom: 10rem;
    }
	
	.mobile-menu li {
		font-family: 'Bitter', serif;
        font-size: 5.6rem;
		font-weight: 500;
		letter-spacing: -0.0125em;
	}
    
    .mobile-menu li + li {
        margin-top: 2.8rem;
    }
	
	.mobile-menu li.current-menu-item a {
		border-bottom: .4rem solid #3C48D5;
        color: #3C48D5;
    }
	
	.mobile-menu li a:hover {
		color: #3C48D5;
		text-decoration: none;
	}
	
	.mobile-menu-container .social-menu {
		flex-shrink: 0;
		font-size: 2.4rem;
		margin-bottom: 7.4rem;
	}
	
	.mobile-menu-container .social-menu li + li {
		margin-top: 1.5rem;
	}
    
    
    /*	X.	Page Content
    /* ------------------------------------- */
    
    .page-content .aligncenter {
        max-width: 100%;
		width: 100%;
    }
    
    .gallery {
		margin: 5rem 0 5rem 0;
        max-width: none;
        position: relative;
            left: calc( 50% - 50vw );
        width: 100vw;
    }
    
    .gallery-thumbnails {
        padding: 0 5%;
    }
    
    
    /*	X.	Themes Archive
    /* ------------------------------------- */
    
    .donate-block {
		margin-top: -2rem;
        padding: 5rem 0;
    }
	
	.donate-block p {
		margin-bottom: 6rem;
	}
    
    .donate-block .footnote {
        position: static;
    }
    
    
    /*	X.	Themes Single
    /* ------------------------------------- */
	
	.single .theme-header .header-inner {
		max-width: 100%;
	}
	
	.single .theme-image {
		height: auto;
		margin-top: 10rem;
		position: relative;
			bottom: auto;
			left: calc( 50% - 50vw );
			top: auto;
		width: 100vw;
	}
	
	.single .theme-image img {
		display: block;
		width: 100%;
	}
	
	.single .theme-image.desktop { 
		display: none; 
	}
	
	.single .theme-image.mobile { 
		background: no-repeat center top;
		background-size: 100% auto;
		border: none;
		display: block; 
		max-height: 100vh;
	}
	
	.single .theme-image.mobile img {
		visibility: hidden;
	}
    
    .theme-feature {
		margin: 4rem 0 0 0;
        width: calc( 50% - 1rem );
    }
	
	/* RELATED THEMES */
	
	.related-themes.section-inner {
		display: block;
		margin-top: 8rem;
		width: 90%;
	}
	
	.related-themes header {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		margin: 0 auto 1rem;
	}
	
	.related-themes header h3 {
		flex: 1;
	}
	
	.related-themes header h3:before {
		bottom: calc( 50% - 14.45rem );
	}
	
	.related-themes header h3 .hide-mobile {
		display: none;
	}
	
	.related-themes header p {
		margin-bottom: 1rem;
	}
	
	.related-themes .themes-list {
		padding: 0;
	}
	
	.related-themes .themes-list .archive-theme:nth-child(1) .theme-preview-image {
		border: none;
	}
	
	.related-themes .archive-theme {
		flex: 1 1 30%;
		max-width: calc( 33.33% - 2rem );
	}
	
	.related-themes .archive-theme:nth-child(3) {
        display: block;
    }
	
	
	/*	X.	Blog Archive
    /* ------------------------------------- */
	
	.posts .section-inner + .section-inner {
		margin-top: 12rem;
	}
	
	
	/* ARCHIVE TITLE */
	
	.archive-title .resp-hide {
		display: none;
	}
	
	
	/* FEATURED POSTS */
	
	.featured-posts {
		left: auto;
		width: 100%;
	}
	
	.featured-group.grande,
	.featured-group.piccolo {
		flex: 100%;
		max-width: 100%;
	}
	
	.featured-group.grande {
		margin-bottom: 6rem;
	}
	
	.featured-group.piccolo {
		border-left: none;
		border-top: .1rem solid rgba( 221, 221, 221, 1 );
		margin: 0;
		padding: 2rem 0 0 0;
	}
	
	.featured-group.piccolo + .featured-group.piccolo {
		margin-top: 2rem;
	}
	
	.featured-group.piccolo .featured-post + .featured-post {
		margin-top: 2rem;
	}
	
	.grande .featured-post {
		align-items: center;
		display: flex;
		min-height: 40rem;
		position: relative;
	}
	
	.grande .featured-image {
		border-radius: 50%;
		overflow: hidden;
		opacity: 0.7;
		position: absolute;
			left: -20rem;
			top: calc( 50% - 20rem );
		width: 40rem;
		z-index: 1;
	}
	
	.grande .featured-image:after {
		background: rgba( 60, 72, 213, .35 );
		content: "";
		display: block;
		position: absolute;	
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
	}
	
	.grande .featured-header {
		margin: 0 0 0 auto;
		max-width: 47rem;
		position: relative;
		width: 80%;
		z-index: 2;
	}
	
	@supports( mix-blend-mode: multiply ) {
		.grande .featured-image:after {
			background: rgba( 60, 72, 213, 1 );
			mix-blend-mode: multiply;
		}
		
	}
	
	.piccolo .featured-post {
		align-items: flex-start;
		display: flex;
		margin: 0;
	}
	
	.piccolo .featured-image {
		flex: 0 0 12rem;
		margin-right: 2rem;
		max-width: 35.5%;
	}
	
	.piccolo h3 {
		margin-top: 0;
	}
	
	
	/*	X.	Page Content
    /* ------------------------------------- */
	
	.page-content blockquote.pull {
		margin-right: 0;
	}
	
	
	/*	X.	Blog Single
    /* ------------------------------------- */
	
	.pagination .subtitle {
		font-size: 2.4rem;
	}
	
	.pagination h4 {
		font-size: 3.6rem;
	}
	
	
	/*	X.	Error 404
    /* ------------------------------------- */
	
	.error404-image {
		margin-top: 0;
	}
	
	.error404 .site-content p {
		font-size: 4rem;
		letter-spacing: -.05rem;
		margin-top: 4rem;
	}
    
}


@media ( max-width: 700px ) {


	/*	X.	Setup
    /* ------------------------------------- */

	body {
		font-size: 1.8rem;
	}
	
	
	/*	X.	Blog Single
    /* ------------------------------------- */
	
	/* PAGINATION */
	
	.pagination {
		display: block;
		padding-bottom: 0;
	}
	
	.pagination a {
		border-top: .1rem solid #000;
		display: block;
		max-width: 100%;
		padding-top: 1.5rem;
	}
	
	.pagination a + a {
		margin-top: 4rem;
	}
	
	.pagination .previous-post {
		text-align: left;
	}
	
	.pagination .next-post {
		text-align: right;
	}
	
	.pagination .subtitle {
		font-size: 2rem;
	}
	
	.pagination h4 {
		font-size: 3rem;
	}
	
	
	/*	X.	Themes Single
    /* ------------------------------------- */
	
	.related-themes .archive-theme {
		flex: 1 1 45%;
		max-width: calc( 50% - 1rem );
	}
	
	.related-themes .archive-theme:nth-child(3) {
        display: none;
    }
    
    
    /*	X.	Sub Page
    /* ------------------------------------- */
    
    .projects h3 {
        min-width: 20rem;
    }
	

}


@media ( max-width: 650px ) {


	/*	X.	Themes Single
    /* ------------------------------------- */
	
	.theme-features .medium-title {
		margin-bottom: 0;
	}
	
	.theme-feature strong {
		font-size: 2rem;
		margin-bottom: 1rem;
	}


}


@media ( max-width: 600px ) {


    /*	X.	Structure
    /* ------------------------------------- */
    
    .site-wrapper,
    .footer-inner {
        max-width: 85%;
    }
    
    .site-wrapper {
        padding: 5rem 0;
    }
	
	section {
		padding: 8rem 0 8rem 0;
	}
	
	.site-content > section:first-of-type:not(.header-compensated) {
		padding-top: 4rem;
	}
	
	.posts .section-inner + .section-inner,
	.section-inner + .section-inner {
		margin-top: 6rem;
	}
	
	.screen-height.header-compensated {
		margin-top: -8.8rem;
		padding: 8.8rem 0 8.8rem 0;
	}
	
	/* HELPER CLASSES */
	
	.big-title {
		font-size: 3.2rem;
	}
	
	.medium-title {
		font-size: 2.8rem;
	}
	
	.small-title {
		font-size: 2.4rem;
	}
	
	/* Modal */
	
	.modal-inner {
		padding: 3.5rem 5%;
	}
	
	.modal img {
		margin-bottom: 3rem;
	}
	
	.modal p {
		font-size: 1.6rem;
		margin-top: 2rem;
	}
	
	.modal .faux-button {
		margin-top: 2rem;
	}
	
	/* Buttons */
	
	.faux-button {
		font-size: 1.5rem;
		min-width: 12rem;
		padding: 1.1rem 2.5rem 1.3rem 2.5rem;
	}
    
    
    /*	X.	Site Header
    /* ------------------------------------- */
    
    .site-header {
        padding: 3.5rem 0 3.5rem 0;
    }
	
	.mobile-menu-container {
		padding: 3.5rem 4rem 0;
	}
	
	.menu-title,
	.mobile-menu {
		margin-bottom: 5rem;
	}
    
    .mobile-menu li {
        font-size: 4.8rem;
    }
    
    .mobile-menu li + li {
        margin-top: 1.8rem;
    }
	
	.mobile-menu-container .social-menu {
		font-size: 2rem;
		margin-bottom: 3.5rem;
	}
	
	.mobile-menu-container .social-menu li + li {
		margin-top: .8rem;
	}
	
	
	/*	X.	Front Page
    /* ------------------------------------- */
	
	.home:before {
		background-size: 250% auto;
	}
	
	.intro-title .section-inner {
		max-width: 45rem;
	}
	
	.graphics-title {
		font-size: 3.7rem;
	}
	
	.graphics-title .rgllm {
		padding-right: 5.4rem;
	}
	
	.graphics-title .rgllm:after {
		height: 4.8rem;
		bottom: calc( 50% - 2.4rem );
		width: 4.8rem;
	}
	
	.graphics-title .braga {
		padding-right: 5rem;
	}
	
	.graphics-title .braga:after {
		height: 2.96rem;
		top: calc( 50% - 1.5rem );
		width: 4.5rem;
	}
	
	.graphics-title .company:after {
		bottom: -.3rem;
		height: .6rem;
	}
    
    
    /*	X.	Sub Page
    /* ------------------------------------- */    
    
    /* PROJECTS */
    
    .projects {
        margin-top: 5rem;
    }
    
    .projects li {
		display: block
    }
	
	.projects h3,
	.projects time {
		display: inline;
		max-width: none;
	}
	
	.projects time {
		margin-left: 1.5rem;
	}
	
	.projects p {
		margin-top: 1rem;
		max-width: 100%;
	}

	/* WEST COUNTRY */

	.section-inner + .west-country {
		margin-top: 4rem;
	}
   
   
   	/*	X.	Themes Archive
    /* ------------------------------------- */
	
	.post-type-archive-teman .page-header {
		margin-bottom: 4rem;
	}
	
	.post-type-archive-teman .big-title {
		margin-bottom: 3.5rem;
	}
	
	.questionmark {
		border-bottom-width: .1rem;
		padding-right: 3.1rem;
	}
	
	.questionmark:after {
		background-size: auto 55%;
		border-width: .2rem;
		height: 2.6rem;
		right: 0;
		top: calc( 50% - 1.6rem );
		width: 2.6rem;
	}
    
	.archive-theme p {
		display: none;
	}
	
	.donate-block h3, 
	.donate-block p {
		width: 44rem;
	}
	
	.donate-block p {
		font-size: 2rem;
		line-height: 1.4;
		margin: 2.5rem 0 5rem 0;
	}
	
	.donate-block .footnote {
		font-size: 1.3rem;
		line-height: 1.35;
		width: 23.6rem;
	}
	
    
    /*	X.	Themes Single
    /* ------------------------------------- */
	
	.single .theme-header {
		min-height: calc( 100vh - 14.8rem );
	}
	
	.single .theme-header h1 {
		font-size: 3.6rem;
		margin-bottom: 2.5rem;
	}
	
	.single .theme-header h1 .title:before {
		bottom: .7rem;
	}
	
	.single .theme-header .subtitle {
		margin: 0 0 3.5rem;
	}
	
	.single .theme-image {
		margin-top: 6rem;
	}
    
    .theme-feature {
		margin: 3rem 0 0 0;
        width: 100%;
	}

	.theme-feature:before {
		top: 0;
	}
	
	section.wp-com-wrapper {
		margin-top: 6rem;
	}
	
	.wp-com-version.section-inner {
		height: 32rem;
	}
	
	.wp-com-version .bubble {
		height: 32rem;
		right: -10rem;
		width: 32rem;
	}
	
	.wp-com-version .bubble:before {
		height: 32rem;
		left: calc( 50% - 20.68rem );
		top: calc( 50% - 16rem );
		width: 41.36rem;
	}
	
	.wp-com-version h3 {
		font-size: 3.2rem;
		margin-bottom: 1.5rem;
	}
	
	.related-themes header h3 {
		flex: 0 0 13.3rem;
	}
	
	.related-themes header h3:before {
		left: calc( 50% - 13.3rem );
	}
	
	.related-themes header h3 .hide-mobile {
		display: inline;
	}
	
	.related-themes header p {
		margin-bottom: .1rem;
	}

	.related-themes .coming-soon {
		font-size: 18px;
		left: calc( 50% - 50px );
		height: 100px;
		top: calc( 50% - 50px );
		width: 100px;
	}
	
	
	/*	X.	Blog Archive
    /* ------------------------------------- */
	
	/* ARCHIVE TITLE */

	.archive-title {
		margin-bottom: 2.5rem;
	}
	
	/* FEATURED POSTS */
	
	.featured-posts-wrapper {
		width: 90%;
	}
	
	.featured-group.grande {
		display: block;
		margin-bottom: 4rem;
	}
	
	.featured-group.grande .featured-post {
		display: block;
	}
	
	.grande .featured-image {
		border-radius: 0;
		opacity: 1;
		position: static;
		width: 100%;
	}
	
	.grande .featured-image:after {
		content: none;
	}
	
	.grande .featured-header {
		margin: 3rem auto 0 auto;
		width: 100%;
	}
	
	.grande .featured-post h2 {
		font-size: 3rem;
		line-height: 1.2;
	}
	
	.grande .featured-post p {
		font-size: 2rem;
	}
	
	
	/* ARCHIVE LIST */
	
	.featured-posts-wrapper + .section-inner .big-title {
		position: absolute;
	}
	
	.spelbloggen-explainer {
		display: none;
	}

	.list-group {
		padding: 0;
	}
	
	.list-group + .list-group {
		margin-top: 4rem;
	}
	
	.list-title {
		border: none;
		font-size: 3.2rem;
		padding: 0 0 2rem;
		position: static;
		text-align: right;
		width: 100%;
	}
	
	.list-item {
		padding: 1.4rem 0 1.5rem;
	}

	.list-item.is-spelbloggen {
		padding-left: 2.8rem;
	}
	
	.list-item .spelbloggen-logo {
		left: 0;
		height: 1.8rem;
		top: 1.7rem;
		width: 1.8rem;
	}

	.list-item .spelbloggen-logo span {
		display: none;
	}

	
	
	
	/*	X.	Blog Single
    /* ------------------------------------- */
	
	/* POST HEADER */
	
	.no-post-thumbnail .post-header-wrapper {
		padding-bottom: 4rem;
	}
	
	.post-header .medium-title {
		font-size: 3.4rem;
	}
	
	.excerpt {
		font-size: 2.2rem;
	}
	
	.post-title + .excerpt {
		margin-top: 2rem;
	}
	
	.post-meta {
		margin-top: 2.8rem;
	}
	
	.post-meta > span + span {
		margin-left: 1.25rem;
	}
	
	.post-meta .long-date { display: none; }
	.post-meta .short-date { display: inline; }
	
	
	/*	X.	Page Content
    /* ------------------------------------- */
    
    .page-content p {
        margin-bottom: 2rem;
    }
	
	.page-content li {
		margin-top: 1rem;
	}
	
	.page-content h1, 
	.page-content h2, 
	.page-content h3, 
	.page-content h4, 
	.page-content h5, 
	.page-content h6 {
		margin: 6rem 0 3rem 0;
	}
	
	.page-content h1 { font-size: 3.6rem; }
	.page-content h2 { font-size: 3.2rem; }
	.page-content h3 { font-size: 2.8rem; }
	.page-content h4 { font-size: 2.4rem; }
	.page-content h5 { font-size: 2.1rem; }
	.page-content h6 { font-size: 1.8rem; }
    
    .page-content .aligncenter,
    .page-content .alignnone,
	.gallery {
        margin: 4rem 0;
    }
    
    .page-content .wp-caption-text {
        font-size: 1.4rem;
    }
	
	.page-content .alignnone .wp-caption-text {
		box-shadow: none;
		margin: 1rem 0 0;
		padding: 0 5%;
		position: static;
		width: 100%;
	}
	
	.page-content blockquote.pull {
		display: block;
		float: none;
		margin: 4rem 0 4rem 0;
		width: 100%;
	}

	.double-list-wrapper {
		margin: 4rem 0 -2rem;
	}

	.double-list-wrapper div {
		margin-bottom: 2rem;
		width: 100%;
	}
    
    
    /*	X.	Site Footer
    /* ------------------------------------- */
    
    .site-footer {
		display: block;
        padding: 5rem 0;
    }
	
	.site-footer p {
		text-align: center;
	}
	
	.footer-menu {
		display: none;
	}


}


@media ( max-width: 480px ) {


	/*	X.	About Me
    /* ------------------------------------- */

	.west-country {
		font-size: 1.5rem;
		max-width: 32rem;
		padding: 2rem 1.8rem;
	}

	.west-country .flag {
		padding-left: 3rem;
	}

	.west-country .flag:before {
		height: 2rem;
		top: calc( 50% - 1.1rem );
		width: 2rem;
	}

}


@media ( max-width: 420px ) {


    /*	X.	Structure
    /* ------------------------------------- */
    
    .site-wrapper {
        padding: 4rem 0;
    }
	
	
	/* MODAL */
	
	.modal h3 {
		font-size: 2.6rem;
	}
	
	
	/* WORK PROMO */
	
	.work-promo .promo-title {
		font-size: 2.8rem;
	}
	
	.work-promo p {
		font-size: 2rem;
	}
	
	
	/*	X.	Site Header
    /* ------------------------------------- */
	
	.nav-toggle.active {
		left: -1%;
	}
	
	.mobile-menu-container.active {
		left: calc( 8% + 5rem );
	}
	
	.mobile-menu li {
		font-size: 4rem;
	}
	
	.mobile-menu li.current-menu-item a {
		border-bottom-width: .3rem;
	}


    /*	X.	Page Content
    /* ------------------------------------- */
    
	.page-content p {
		line-height: 1.45;
	}
	
    .page-content .alignleft,
    .page-content .alignright {
        float: none;
        max-width: 100%;
        width: 100%;
        margin: 0 0 2rem;
    }
    
    .page-content .alignright .wp-caption-text {
        text-align: left;
    }
    
    .page-content blockquote {
        padding: 0 0 0 2.5rem;
	}
	
	.double-list-wrapper div {
		padding: 3rem 2.5rem;
	}

	.page-content .double-list-wrapper h3 {
		margin-bottom: 2.8rem;
	}

    
    /*	X.	Themes Archive
    /* ------------------------------------- */
    
	.themes-list {
		margin: 0 -.5rem -2rem;
	}
	
    .archive-theme {
        flex: 1 1 45%;
		margin: 0 .5rem 1rem;
        max-width: calc( 50% - 1rem );
    }
	
	.archive-theme .theme-header {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 1rem;
	}
	
	.archive-theme .theme-header h2 {
		font-size: 2rem;
	}
	
	.archive-theme .theme-header .arrow-link {
		display: none;
	}
	
	.themes-wrapper .themes-list .archive-theme {
		flex: 100%;
		margin: 0 .5rem 2rem;
		max-width: 100%;
	}
	
	.themes-wrapper .themes-list .archive-theme .theme-header h2 {
		font-size: 3.2rem;
	}
	
	/* DONATE BLOCK */
	
	.donate-block {
		margin-top: -2rem;
		min-height: 0;
		padding: 5rem 0;
	}
	
	.donate-block h3 {
		font-size: 3rem;
		line-height: 1.15;
		width: 26rem;	
	}
	
	.donate-block p {
		margin-bottom: 4rem;
	}
    
    
    /*	X.	Themes Single
    /* ------------------------------------- */
    
	.single .theme-header h1 {
		font-size: 3.1rem;
	}
	
    .single-teman .page-meta span span {
        display: none;
    }
	
	.related-themes .themes-list {
		margin-left: -1rem;
	}
	
	.related-themes .archive-theme {
		margin-left: 1rem;
	}


	/*	X.	Blog
    /* ------------------------------------- */

	.piccolo .featured-image {
		margin-right: 1.5rem;
	}
	
	
	/*	X.	Single Post
    /* ------------------------------------- */
	
	.post-meta > span.link,
	.post-meta > span.edit {
		display: block;
		margin: .5rem 0 0 0;
	}
	
	
	/*	X.	Error 404
    /* ------------------------------------- */
	
	.error404 .site-content p {
		font-size: 2.7rem;
		margin-top: 3rem;
	}
    
    
    /*	X.	Site Footer
    /* ------------------------------------- */
    
    .site-footer {
        padding: 4rem 0;
    }


}


@media ( max-width: 360px ) {


	/*	X.	Site Header
    /* ------------------------------------- */
	
	.mobile-menu-container {
		padding: 3.5rem 3rem 0;
	}
	
	.mobile-menu li {
		font-size: 3.2rem;
	}
	
	.mobile-menu-container .social-menu {
		margin-bottom: 3rem;
	}


	/*	X.	Front Page
    /* ------------------------------------- */
	
	.home:before {
		background-size: 250% auto;
	}
	
	.graphics-title {
		font-size: 3.2rem;
	}
	
	.graphics-title .rgllm {
		padding-right: 4.3rem;
	}
	
	.graphics-title .rgllm:after {
		bottom: calc( 50% - 2rem );
		height: 3.6rem;
		right: .2rem;
		width: 3.6rem;
	}
	
	.graphics-title .braga {
		padding-right: 4.4rem;
	}
	
	.graphics-title .braga:after {
		height: 2.62rem;
		right: .1rem;
		top: calc( 50% - 1.4rem );
		width: 4rem;
	}
	
	.graphics-title .company:after {
		bottom: -.4rem;
		height: .6rem;
	}


}


@media ( max-width: 350px ) {


	/*	X.	Helper Classes
	/* ------------------------------------- */
	
	/* TYPOGRAPHY */

	.big-title {
		font-size: 3rem;
	}


	/*	X.	About Me
    /* ------------------------------------- */

	.west-country {
		font-size: 1.4rem;
	}

	.west-country br {
		display: none;
	}


	/*	X.	Themes Archive
    /* ------------------------------------- */

	.themes-list {
		padding: 0 5%;
	}


	/*	X.	Themes Single
    /* ------------------------------------- */

	.wp-com-version .bubble {
		right: -17.5rem;
	}
	
	
	/*	X.	Error 404
    /* ------------------------------------- */
	
	.error404 .site-content p {
		font-size: 2.4rem;
		margin-top: 2.5rem;
	}


}


@media ( max-width: 750px ) and ( orientation: landscape ) {


	/*	X.	Site Header
    /* ------------------------------------- */
	
	.menu-title, 
	.mobile-menu {
		margin-bottom: 4rem;
	}
	
	.mobile-menu li {
		font-size: 3.2rem;
	}
	
	.mobile-menu li + li {
		margin-top: 1rem;
	}
	
	.mobile-menu-container .social-menu {
		display: flex;
		font-size: 1em;
	}
	
	.mobile-menu-container .social-menu li + li {
		margin: 0 0 0 2rem;
	}


}